<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Histórico - Notificame.cl</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard_historico.css' %}">
</head>
<body>
    <h1>Dashboard Histórico</h1>

    <!-- Botones para navegar -->
    <div class="button-container">
        <a href="{% url 'dashboard' %}" class="menu-button">Volver al Dashboard Principal</a>
        <a href="{% url 'logout' %}" class="menu-button">Cerrar Sesión</a>
    </div>

    <!-- Tabla para mostrar el historial de notificaciones -->
    <table>
        <thead>
            <tr>
                <th>Fecha Notificación</th>
                <th>Rol</th>
                <th>Tribunal</th>
                <th>Demandante</th>
                <th>Demandado</th>
                <th>Representante</th>
                <th>Mandante</th>
                <th>Domicilio</th>
                <th>Comuna</th>
                <th>Encargo</th>
                <th>Resultado</th>
                <th>Arancel</th>
                <th>Actuación</th>
                <th>Estado Notificación</th>
                <th>Estado Causa</th>
            </tr>
        </thead>
        <tbody>
            {% for item in historico %}
            <tr>
                <td>{{ item.fechaNotificacion }}</td>
                <td>{{ item.numjui }}</td>
                <td>{{ item.nombTribunal }}</td>
                <td>{{ item.demandante }}</td>
                <td>{{ item.demandado }}</td>
                <td>{{ item.repre }}</td>
                <td>{{ item.mandante }}</td>
                <td>{{ item.domicilio }}</td>
                <td>{{ item.comuna }}</td>
                <td>{{ item.encargo }}</td>
                <td>{{ item.soli }}</td>
                <td>{{ item.arancel_nombre }} - ${{ item.arancel }}</td>
                <td>{{ item.actu }}</td>
                <td>{{ item.estadoNoti|yesno:"Notificada,No Notificada" }}</td>
                <td>{{ item.estadoCausa|yesno:"Estampada,No Estampada" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="15" class="empty-message">No hay registros históricos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
