<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificame.cl</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <!-- Menú lateral -->
    <div class="sidebar" id="sidebar">
        <h2>Menú Principal</h2>
        <a href="{% url 'login' %}">Iniciar Sesión</a>
        <a href="{% url 'register' %}">Registrar Usuario</a>
        <div class="footer">
            <p>Desarrollado por:</p>
            <ul>
                <li>Daniel Cáceres</li>
                <li>Carlos Moyano</li>
                <li>Matías Traslaviña</li>
            </ul>
            <p>© 2024 Notificame.cl</p>
        </div>
    </div>

    <!-- Botón del menú hamburguesa -->
    <button class="burger-menu" id="burger-menu" onclick="toggleMenu()">☰</button>

    <!-- Contenido principal -->
    <div class="content">
        
        <div class="image-container">
            <img src="{% static 'notificame2.png' %}" alt="Notificame.cl Imagen" class="background-image">
        </div>
        
    </div>

    <script>
        // Función para abrir y cerrar el menú lateral
        function toggleMenu() {
            const sidebar = document.getElementById('sidebar');
            const content = document.querySelector('.content');
            sidebar.classList.toggle('hidden');
            content.classList.toggle('shifted');
        }
    </script>
</body>
</html>
