<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario - Notificame.cl</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register-container">
        <h1>Registro de Usuario</h1>
        <form method="post" action="{% url 'register' %}" class="register-form">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" required placeholder="Ingresa tu nombre">
            
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" required placeholder="Ingresa tu apellido">
            
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username" required placeholder="Ingresa tu nombre de usuario">
            
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required placeholder="Crea una contraseña segura">
            
            <button type="submit">Registrar</button>
        </form>

        <!-- Botón para volver al menú principal -->
        <a href="{% url 'main_menu' %}" class="back-button">Volver al Menú Principal</a>
    </div>
</body>
</html>
